.github/flows.json
[
    {
        "id": "ac80f0a50c4c8697",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6a7e0e59a9b82504",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "553118d1acd4d86a",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f4760d991096d533",
        "type": "ui_tab",
        "name": "Smart Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "572c0a54aefcdbc8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8cc568a72abd5e18",
        "type": "ui_group",
        "name": "Bedroom",
        "tab": "f4760d991096d533",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "36627470f8521ad3",
        "type": "ui_group",
        "name": "Kitchen",
        "tab": "f4760d991096d533",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0b6258b80e76edf6",
        "type": "ui_group",
        "name": "Livingroom",
        "tab": "f4760d991096d533",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4dd88aea39a89989",
        "type": "inject",
        "z": "ac80f0a50c4c8697",
        "name": "Bedroom",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "e4c616baced8aa74"
            ]
        ]
    },
    {
        "id": "e4c616baced8aa74",
        "type": "function",
        "z": "ac80f0a50c4c8697",
        "name": "Bedroom temp ",
        "func": "var temperature = 20 + Math.floor(Math.random() * 10);\n\n// For Azure IoT Hub\nmsg.payload = {\n    deviceId: \"cquDevice1\",\n    room: \"Bedroom\",\n    temperature: temperature\n};\n\n// For UI gauge/chart – create a second message\nvar uiMsg = { payload: temperature };\n\n// Send both outputs (requires a function node with 2 outputs)\nreturn [msg, uiMsg];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 200,
        "wires": [
            [
                "88168ad5098bd8b4",
                "5d250e83b3e028ad"
            ],
            [
                "03db2ff7e642d9c2",
                "12322453810d9542",
                "5d250e83b3e028ad"
            ]
        ]
    },
    {
        "id": "88168ad5098bd8b4",
        "type": "azureiotdevice",
        "z": "ac80f0a50c4c8697",
        "deviceid": "cquDevice1",
        "pnpModelid": "",
        "connectiontype": "constr",
        "authenticationmethod": "sas",
        "iothub": "cquSmartHomeHub.azure-devices.net",
        "isIotcentral": false,
        "scopeid": "",
        "enrollmenttype": "group",
        "saskey": "BY5lZVpyVYFFjMVLE/8+bvKpa1Z0upDr4pVL0aFgvi8=",
        "certname": "",
        "keyname": "",
        "passphrase": "",
        "protocol": "mqtt",
        "retryInterval": 10,
        "methods": [],
        "DPSpayload": "",
        "gatewayHostname": "",
        "caname": "",
        "cert": "",
        "key": "",
        "ca": "",
        "x": 700,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "2c76af1874f17e30",
        "type": "inject",
        "z": "ac80f0a50c4c8697",
        "name": "Livingroom",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 700,
        "wires": [
            [
                "e5d832450388377d"
            ]
        ]
    },
    {
        "id": "e5d832450388377d",
        "type": "function",
        "z": "ac80f0a50c4c8697",
        "name": "Livingroom Temp",
        "func": "var temperature = 19 + Math.floor(Math.random() * 10);\n\nmsg.payload = {\n    deviceId: \"cquDevice3\",\n    room: \"Living Room\",\n    temperature: temperature\n};\n\nvar uiMsg = { payload: temperature };\nreturn [msg, uiMsg];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 700,
        "wires": [
            [
                "2ee49c45f90ac1ab",
                "613a756e50c6d26f"
            ],
            [
                "64e0f9f0b59047e3",
                "71f1ae2f6a02f528",
                "613a756e50c6d26f"
            ]
        ]
    },
    {
        "id": "2ee49c45f90ac1ab",
        "type": "azureiotdevice",
        "z": "ac80f0a50c4c8697",
        "deviceid": "cquDevice3",
        "pnpModelid": "",
        "connectiontype": "constr",
        "authenticationmethod": "sas",
        "iothub": "cquSmartHomeHub.azure-devices.net",
        "isIotcentral": false,
        "scopeid": "",
        "enrollmenttype": "group",
        "saskey": "QpYYWtu4uXaJjkD71EsczRG/yIUgzbXI+TA3cGW/d80=",
        "certname": "",
        "keyname": "",
        "passphrase": "",
        "protocol": "mqtt",
        "retryInterval": 10,
        "methods": [],
        "DPSpayload": "",
        "gatewayHostname": "",
        "caname": "",
        "cert": "",
        "key": "",
        "ca": "",
        "x": 700,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "41c5879657109e3c",
        "type": "inject",
        "z": "ac80f0a50c4c8697",
        "name": "Kitchen",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "4b89a44f6013bbf7"
            ]
        ]
    },
    {
        "id": "4b89a44f6013bbf7",
        "type": "function",
        "z": "ac80f0a50c4c8697",
        "name": "Kitchen Temp",
        "func": "var temperature = 18 + Math.floor(Math.random() * 10);\n\nmsg.payload = {\n    deviceId: \"cquDevice2\",\n    room: \"Kitchen\",\n    temperature: temperature\n};\n\nvar uiMsg = { payload: temperature };\nreturn [msg, uiMsg];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 460,
        "wires": [
            [
                "4119d76ffb2767a7",
                "59ecb655ec0f55eb"
            ],
            [
                "88ec8016d69b81aa",
                "178a845655cbbded",
                "59ecb655ec0f55eb"
            ]
        ]
    },
    {
        "id": "4119d76ffb2767a7",
        "type": "azureiotdevice",
        "z": "ac80f0a50c4c8697",
        "deviceid": "cquDevice2",
        "pnpModelid": "",
        "connectiontype": "constr",
        "authenticationmethod": "sas",
        "iothub": "cquSmartHomeHub.azure-devices.net",
        "isIotcentral": false,
        "scopeid": "",
        "enrollmenttype": "group",
        "saskey": "ZbxitUxSWfI9VNMSzIzXHxPS6uh9OHKbMuypSfCfFRk=",
        "certname": "",
        "keyname": "",
        "passphrase": "",
        "protocol": "mqtt",
        "retryInterval": 10,
        "methods": [],
        "DPSpayload": "",
        "gatewayHostname": "",
        "caname": "",
        "cert": "",
        "key": "",
        "ca": "",
        "x": 700,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "03db2ff7e642d9c2",
        "type": "ui_gauge",
        "z": "ac80f0a50c4c8697",
        "name": "Bedroom",
        "group": "8cc568a72abd5e18",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}} °C",
        "min": "10",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 660,
        "y": 220,
        "wires": []
    },
    {
        "id": "88ec8016d69b81aa",
        "type": "ui_gauge",
        "z": "ac80f0a50c4c8697",
        "name": "Kitchen",
        "group": "36627470f8521ad3",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}} °C",
        "min": "10",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 660,
        "y": 460,
        "wires": []
    },
    {
        "id": "64e0f9f0b59047e3",
        "type": "ui_gauge",
        "z": "ac80f0a50c4c8697",
        "name": "Livingroom",
        "group": "0b6258b80e76edf6",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}} °C",
        "min": "10",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 700,
        "wires": []
    },
    {
        "id": "12322453810d9542",
        "type": "ui_chart",
        "z": "ac80f0a50c4c8697",
        "name": "Bedroom Temp Trend",
        "group": "8cc568a72abd5e18",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "178a845655cbbded",
        "type": "ui_chart",
        "z": "ac80f0a50c4c8697",
        "name": "Kitchen Temp Trend",
        "group": "36627470f8521ad3",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "71f1ae2f6a02f528",
        "type": "ui_chart",
        "z": "ac80f0a50c4c8697",
        "name": "Livingroom Temp Trend",
        "group": "0b6258b80e76edf6",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "5d250e83b3e028ad",
        "type": "debug",
        "z": "ac80f0a50c4c8697",
        "name": "debug (Bedroom)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 100,
        "wires": []
    },
    {
        "id": "613a756e50c6d26f",
        "type": "debug",
        "z": "ac80f0a50c4c8697",
        "name": "debug 2(Livingroom)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 580,
        "wires": []
    },
    {
        "id": "59ecb655ec0f55eb",
        "type": "debug",
        "z": "ac80f0a50c4c8697",
        "name": "debug 3(Kitchen)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 340,
        "wires": []
    }
]